name: Docker Build

on:
  push:
    branches:
      - "**"
      - "!main"
      - "!dev"
  pull_request:
    branches:
      - "**"

env:
  TEST_TAG: dattito/purrmannplus-backend:test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: ${{ env.TEST_TAG }}
      - name: Test
        run: |
          docker run --rm ${{ env.TEST_TAG }}
